packages:
  yum:
     ImageMagick : []
     ImageMagick-devel : http://packages.us-west-2.amazonaws.com/2015.03/main/20150301f40d/x86_64/Packages/ImageMagick-devel-6.7.8.9-10.15.amzn1.x86_64.rpm
     freetype: http://packages.us-west-2.amazonaws.com/2015.03/updates/1c7b5fdf33a5/x86_64/Packages/freetype-2.3.11-15.14.amzn1.x86_64.rpm
     freetype-devel: http://packages.us-west-2.amazonaws.com/2015.03/updates/1c7b5fdf33a5/x86_64/Packages/freetype-devel-2.3.11-15.14.amzn1.x86_64.rpm
